.page-container{

  outline: 5px solid blue;
}

.page-header{

  outline: 5px solid rgb(223, 26, 12);

}
.header-container{
  margin:0px;
}

.main-cоntainer{

  outline: 5px solid green;
}

.box-сonteiner{

  outline: 5px solid blue;
}
 /*Навигация*/
 .navigation{


   outline: 5px solid rgb(212, 14, 230);
 }
.navigation-list{


   outline: 5px solid rgb(230, 226, 14);

 }
 .navigation-item{


   border-style:solid;
   border-width: 3px;
   border-color: rgb(6, 117, 24);
 }

/*главная страница/главный блок*/
.box-сonteiner{

  outline: 3px solid rgb(206, 1, 1);
}

.content-box{

   outline: 5px solid rgb(206, 1, 1);

}

.text-box-main{

    outline: 5px solid rgb(206, 1, 1);
}
.header-text{
   border-style:solid;
   border-width: 4px;
   border-color: rgb(230, 226, 14);
}
.text-main{
   border-style:solid;
   border-width: 4px;
   border-color: rgb(230, 226, 14);
}
/*Главная страница/каталог*/
.advantage{
 outline: 3px solid red;
}
.box-text{
  outline: 3px solid green;
}
.advantage-box{
border-style:solid;
  border-width: 3px;
  border-color: rgb(6, 117, 24);
}
.pic-box{
   border-style:solid;
   border-width: 4px;
   border-color: rgb(230, 226, 14);
}
.text-box{
   border-style:solid;
   border-width: 4px;
   border-color: rgb(230, 226, 14);
}
.advantages-describe-item{
   border-style:solid;
   border-width: 4px;
   border-color: rgb(212, 14, 230);
}
/*Главная страница. Форма*/
.search {
  outline: 3px solid green;
}
*
/*Подвал*/
.foot-conteiner{
  outline: 3px solid blue;

}
.link-list{
  outline: 3px solid green;
}

