@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2"),
    url("../fonts/ptsans-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2"),
    url("../fonts/ptsans-700.woff") format("woff");
  font-display: swap;
}
/*Общее*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;

}

html {
  height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {

  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "PT sans";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  background-color: #757575;
  color: #000000;
}

.main {
  flex-grow: 1;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 37px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-family: inherit;
}
.cc {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-container {
  background-color: white;
  width: 1200px;
  margin: 0 auto;
  padding: 0px;
}
.link-list {
  text-decoration: none;
  list-style-type: none;
}

/*Общее конец*/

/*Шапка стили*/
.page-header {
  justify-content: center;
  display: flex;
  margin: 0px;
  padding: 0px;
  max-height: 65px;
}
.navigation {
  display: flex;
  min-width: 1057px;
  justify-content: space-between;
  align-content: center;
  align-items: center;

}
.navigation-list {
  gap: 33px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 412px;
  margin: 0px;
  padding: 0px;

}
.logo-pic {
  margin-bottom: -8.5px;
  width: 138px;
  align-content: center;
  z-index: 2;
  margin-right: 162px;
}
.navigation-user {
  display: flex;
  max-width:250px;
  max-height:37px;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 0;
  align-content: flex-end;
}
.navigation-link {
  padding: 0px;
  display: grid;
  place-items: center;
  position: relative;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;

}
.navigation-link:hover {
  color: #756257;
}
.navigation-link:focus {
  color: #756257;
  outline: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
}
.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
  border: none;
}
.navigation-link-current::before {
  position: absolute;
  right: 0px;
  bottom: -22px;
  left: 0px;
  height: 2px;
  width: 100%;
  background-color: #756257;
  content: "";
}

.icon-link {
  display: grid;
  height: 38px;
  width: 38px;
  place-items: center;
  color: #000000;
}
.icon {
  fill:currentColor;
}

.icon-link:hover {
  color: #756257;
}
.icon-link :focus {
  color: #756257;
  border: 3px solid #83b3d3;
  border-radius: 10px;

}
.icon-link:active {
  color: rgba(17, 98, 87, 0.3);
  box-sizing: border-box;
}

.link-header {
  background-color: #756257;
  font-size: 16px;
  line-height: 21px;
}
.link-header:hover {
  background: #615048;
}
.link-header:focus {
  background: #615048;
  border: 3px solid #83b3d3;
}
.link-header:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}
.navigation-item {
  padding-bottom:3px;
  text-align: center;
  max-width: 160px;
}
 .icon-item{
  padding:0px
}
.item-span{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -3px;
  top:0px;
  width:19px ;
  height:19px ;
  display: flex;
  color: #FFFFFF;
  background-color: rgba(125, 181, 79, 1);
  border-radius: 50%;
  font-size: 10px;
  line-height: 13px;
}
.button-link {
  margin-left: 24px;
}

.like{
  position: relative;
}
/*Шапка стили конец!  не трогать!! */

/*поповер*/
.popover{

  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top:54px;
  left: -170px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  font-family: "PT Sans ", sans-serif;
  color: #242424;
  background-color: #FFFFFF;
  min-height: 232px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  letter-spacing: -0.1em;
}
.popover-cart{
  border-top: 1px solid #E5E5E5;
}

.popover-content{
  position: relative;
  padding: 25px 25px 26px 25px;
}
.popover-list{
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.popover-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
.popover-box{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.item-contaner{
  color: #000000;
  padding:10px;
  display: flex;
  width: 270px;
  align-items: center;
  border-radius: 10px;
}
.item-contaner:hover{
  opacity: 0.6;

}
.item-contaner:focus{
  outline: 3px solid rgba(131, 179, 211, 1);
}
.item-contaner:active{
  opacity: 0.3;
}

.popover-img{
  margin-right: 17px;
  display:grid;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img-one{
background-image: url('../img/jpg/hotel-2-small.jpg');
}
.img-two{
background-image: url('../img/jpg/hotel-3-small.jpg');
}
.popover-title{
  margin: 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}
.popover-discribtion{
  display:block;
  margin: 0px;
  font-weight: normal;
  font-size: 16px;

}
.delete{
  color:rgba(0, 0, 0, 0.2);
  display: grid;
  width:36px;
  height:36px;
  place-content: center;
  border:none;
  border-radius: 10px;
  background-color:#68a3ca00;
}
.delete-svg{
  fill:currentColor;
}

.delete:hover{
color:rgba(0, 0, 0, 1)
}
.delete:focus{
  outline: 3px solid #83B3D3;
}
.delete:active{
color:rgba(0, 0, 0, 0.1);
outline:none;
}
.popover-link{
  display:grid ;
  width: 100%;
  background: #756257;
  border-radius: 0px 0px 20px 20px;
  height: 60px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  place-content: center;
}
.popover-link:hover{
  background: #615048;
}

.popover-link:focus{
  background: #615048;
  border: 3px solid #83B3D3;
}
.popover-link:active{
color: rgba(255, 255, 255, 0.3);
border:none;
}
.popover-box{
  position: relative;
}
.popover-content::before{
  position: absolute;
  width:20px;
  height: 9px;
  background-image:url('../img/other/vectoropap.svg');
  top: -9px;
  left: 179px;
  content: "";
}

/*Главная страница /главный блок*/
.form {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}
.advantages-pic {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}
.main {
  position: relative;
  background-color: #4b4b4b;
  background-image: url("../img/jpg/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main ::before {
  display: block;
  position: absolute;
  content: "";
  background-image: url("../img/other/vector.svg");
  bottom: 0px;
  width: 1200px;
  height: 57px;
}
.content-box {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 81px;
}
.text-box-main {
  max-width: 720px;
  margin: 62px auto 79px;
}
.header-text {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
  margin-bottom: 32px;
}
.text-main {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  width: 720px;
}

/*Главная страница/каталог*/
.advantage {
  margin: 0px;
}

.advantage-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.advantage-content {
  height: 385px;
  display: flex;
  background-color: #83b3d3;
}
.advantage-reverse{
flex-direction: row-reverse;
}
.container-text {
  width: 400px;
  margin-left: 91px;
  margin-right: 91px;
  padding-top: 96px;
}

.discribe-advantage {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  background-color: #ffffff;
  padding-left: 0;
}
.describe-item{
  padding: 89px 75px 79px 75px;
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
}
.describe-list {
  display: flex;
  width: 400px;
  flex-direction: column;
  padding: 98px 75px 77px 75px;
}
.rgb12 {
  background-color: rgba(131, 179, 211, 0.12);

}

.rgb120 {
  background-color: rgba(131, 179, 211, 0.2);

}

.catalog-text {
  height: 73px;
  width: 250px;
  margin:0px;
  max-width: 250px;
  text-align: center;
  padding-right: 2px;

}

.pic-box {
  text-align: center;
  margin-bottom: 19px;
}
.text-box {
  padding-left: 75px;
  padding-right: 75px;
}

.box-text {
  width: 250px;
  margin-top: 98px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}


.advantages-box {
  width: 1200;
  display: flex;
  height: 384px;
}

.advantages-describe-list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.catalog-header {
  position: relative;
  max-width: 250px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin:0px;
  margin-bottom: 17px;

}
.avter-header{
  margin-bottom: 76px;
}

.catalog-title {
  position: relative;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 400px;
  margin: 0;
  margin-bottom: 81px;
}
.catalog-text-white {
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  color: #ffffff;
}

.catalog-title::after {
  position: absolute;
  width: 250px;
  height: 25px;
  left: -15px;
  top: 84px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  content: "-№1-";
}
.title-two{
  padding-left: 23px;
  padding-right: 23px;
}
.title-two::after {
  position: absolute;
  width: 250px;
  height: 25px;
  left: -17px;
  top: 86px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  content: "-№2-";
}
.title-three::after {
  position: absolute;
  width: 250px;
  height: 25px;
  left: -1px;
  top: 84px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  content: "-№3-";
}
.title-four::after {
  position: absolute;
  width: 250px;
  height: 25px;
  left: -1px;
  top: 84px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  content: "-№4-";
}
.title-five::after {
  position: absolute;
  width: 250px;
  height: 25px;
  left: -1px;
  top: 84px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  content: "-№5-";
}
.catalog-title-white {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}



/*Главная/блок с формой*/
.form-container {
  width: 800px;
  margin: 94px 200px;
}
.box-form {
  margin: 0 auto;
  text-align: center;
  align-content: center;
}
.form {
  width: 100%;
  margin: 0 auto;
  padding: 97px 0px 94px 0px;

  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  color: #ffffff;
  background-image: url("../img/jpg/backgroundform.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.search {
  background-color: white;
  align-content: center;
  padding: 91px;
  padding-right: 240px;
  padding-left: 240px;
}
.search-describe {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 720px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 0pt;
}
.form-title {
  padding: 94px 240px 15px 240px;
  width: 720px;
  margin: 0px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.form-text {
  margin: 0px 240px 26px 240px;
  width: 720px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.form-user {
  display: inline-flex;
  margin: 20px auto 0px auto;
  width: 800px;
  font-size: 18px;
  line-height: 26px;
}
.formbut {
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  font-family: inherit;
  border-radius: 4px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: 160px;
  height: 48px;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
}
.formbut:hover{
    background: #68A2CA;
}
.formbut:focus{
    border: 3px solid #FFFFFF;
}
.formbut:active{
  color: rgba(255, 255, 255, 0.3);
  border:none;
}

.formbut-white {
  margin-top:10px;
  padding-top:4px;
  padding-bottom: 5px;
  width: 100px;
  height: 32px;
  background-color: #949da300;
}
.formbut-white:hover {
  opacity: 60%;
  background-color: #949da300;
}
.formbut-white:focus {
  outline: 3px solid #83B3D3;
  background-color: #949da300;
  border:none
}
.formbut-white:active {
  opacity: 30%;
  background-color: #949da300;
  outline: none;
}


.control {
  margin-bottom: 13px;
}

.field {
  padding-left: 18px;
  padding-right: 20px;
  padding-top: 4px;
  background: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  border: 0px;
  width: 600px;
  height: 60px;
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
}
.field:hover {
  background: #e6e6e6;
}
.field:focus {
  width: 559px;
  height: 60px;
  background: #e6e6e6;
  border: 3px solid #83b3d3;
  outline: none;
}
.field:active {
  background: #ffffff;
  outline: 2px solid #000000;
  border: none;
}
.error{
  border: 2px solid #FF5757;
}
.button-form {
  background-color: #83b3d3;
  padding: 0px;
  border: 0px;
  margin: 0px;
  position: absolute;
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
}

.button-load {
  margin: 1px auto 30px auto;
  width: 625px;
  height: 55px;
  color: #ffffff;
  background-color: #83b3d3;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 4px;
}
.button-load:hover{
  background-color:rgba(104, 162, 202, 1);

}
.button-load:focus{
  background-color:rgba(104, 162, 202, 1);
  border: 3px solid #756257;
  border-radius: 4px;
}
.button-load:active{
  color:rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 0.3);
}
/*footer main*/

.foot-conteiner {
  display: flex;
  max-width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  padding-left: 72px;
  padding-right: 50px;
  padding-bottom: 31px;
  padding-top: 42px;
  justify-content: space-between;
}
.foot-list {
  display: flex;
  padding: 0px;
  justify-content: center;
  margin: 0px;
  margin-right: 123px;
  flex-wrap: wrap;
}

.tell {
  display: grid;
  place-items: center;
  width: 361px;
  height: 70px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.tell:hover {
  color: #756257;
}
.tell:focus {
  color: #756257;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}
.tell:active {
  color: rgba(117, 98, 87, 0.3);
  border: none;
}

.footer-logo {
  display: grid;
  place-items: center;
  width: 160px;
  height: 70px;
  padding: 10px;
  color: #000000;
}
.logo{
  fill: currentColor;
}
.footer-logo:hover {
  color: #756257;
}

.footer-logo:focus {
  color: #756257;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}
.footer-logo:active {
  color: rgba(117, 98, 87, 0.3);
}

.link-footer-icon {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  color: #83B3D3;
}
.footer-icon {
  fill: currentColor;
}
.link-footer-icon:hover {
  color: #68a2ca;
}

.link-footer-icon:focus {
  color: #68a2ca;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}
.link-footer-icon:active {
  color: rgba(104, 162, 202, 0.3);
  border: none;
}

/*Страница каталога*/

/*Каталог/форма/шапка*/
.inner-header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  width: 628px;
  padding-top: 30px;
  margin: 0px 0px 45px 71px;
}
.catalog-filter {
  padding: 0px 72px 83px 71px;

  gap: 67px;
  grid-template-columns: auto 1fr 350px 160px;
  display: grid;

}
.inner-header-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  margin: 0px;
}
.breadcrumbs {
  width: 146px;
  margin: 0px;
  display: flex;
  list-style-type: none;
  padding: 0px;
}
.vector-link{
  display: grid;
  width: 28px;
  height: 27px;
  place-content: center;
}
.breadcrumbs-item {
  position: relative;
  margin: 0px;

}
.vector-link:hover {
  opacity: 60%;
}
.vector-link:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}
.vector-link:active {
  opacity: 60%;
}

.text-link{
  display: grid;
  width: 89px;
  height: 27px;
  place-content: center;
  padding:0px 8px;
}
.text-link:hover {
  opacity: 60%;
}
.text-link:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}
.text-link:active {
  opacity: 60%;
}


.breadcrumbs-vektor::after{
  display: block;
  position: absolute;
  content: "";
  background-image: url('../img/other/vector-breadcrumbs.svg');
  bottom: 0px;
  width: 5px;
  height: 7px;
  left: 42px;
  bottom: 8px;
  left: 31px;
  opacity: 30%;
  }


.catalog-products {
  text-align: left;
  color: #ffffff;
  background-color: #858585;
  background-image: url("../img/jpg/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}
.filter-title {
  margin-bottom: 34px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.control-label {
  line-height: 23px;
}
/*Чекбоксы*/

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border:none;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
}
.control:focus-within .control-mark {
  outline: 3px solid #83B3D3;
  background: rgba(255, 255, 255, 0.6);
}

.control:active .control-mark {
  outline: 3px solid #83B3D3;
  background: rgba(255, 255, 255, 0.3);
  outline: none;
}
.control-input:disabled + .control-mark {
  border-color: #242424;
}
.control-input[type="checkbox"]:checked + .control-mark::before{
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url('../img/other/tick 5.svg');
  transform: rotate(0deg);
  content: "";
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 10px;
  height: 10px;
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
  content: "";
}
.control-input{
  margin: 0;
  padding: 0;
  appearance: none;
}


/*Рэндж слайдер*/
.range-scale {
  width: 287px;
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}
.range-bar {
  position: absolute;
  height: 4px;
  background-color:#FFFFFF;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.toggle-min {
  top: -8px;
  left: -2px;
}
.toggle-max {
  top: -8px;
  right: -10px;
}
/*Поля ввода макс и мин цены*/
.range-wrapper-inputs {
  margin-bottom: 32px;
  display: flex;

    border-radius: 4px;
}

.catalog-filter-label {
  width: 144px;
  height: 48px;
  display: flex;
  align-items: center;
justify-content: space-between;
  border: 2px solid white;
  padding-left: 19px;
  padding-right: 14px;

  }

.catalog-filter-label:first-child{
  border-radius: 4px 0px 0px 4px;
  color: rgba(255, 255, 255, 0.3);
}
.catalog-filter-label:first-child:hover
.catalog-filter-label:last-child {
  border-color: rgba(255, 255, 255, 0.6);
  border-left-color: rgba(255, 255, 255, 0.6);


}
.catalog-filter-label:last-child{
  border-radius: 0px 4px 4px 0px;
  border-left-color: rgba(255, 255, 255, 0.10);
  margin-left:-2px;
  color: rgba(255, 255, 255, 0.3);
}
.min-price:hover {
  opacity: 0.6;
}
.min-price:hover + .max-price {
  border-left: none;
  margin-left:0px;
}
.min-price:focus{

  box-shadow: 0px 0px 0px 3px #81B3D2,
              inset 0px 0px 0px 3px #81B3D2;
              z-index: 2;
}
.min-price:focus + .max-price {
z-index: 1;
}
.min-price:active {
  background: #756257;
  border: 2px solid #FFFFFF;
  opacity: 1;
}

.min-price:active + .max-price {
  border-left: none;
  margin-left:0px;
}
.max-price:hover {
  opacity: 0.6;
  border: 2px solid #FFFFFF;
  margin-left: 0px;
}
.max-price:focus{
  box-shadow: 0px 0px 0px 3px #81B3D2,
              inset 0px 0px 0px 3px #81B3D2;
 opacity:1;
}
.max-price:active {
  opacity: 1;
  border: 2px solid #FFFFFF;
  margin-left: -2px;
  background: #756257;
}


.catalog-filter-input {
  color: #ffffff;
  width: 83px;
  padding: 0px;
  border: 0px;
  font: inherit;
  background-color: transparent;
  appearance: textfield;
}



:focus-visible {
    outline: none;
    outline-style: none;

}
.catalog-filter-group {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}




/*саtalog header*/
.filter-group {
  margin: 0px;
  border: 0px;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.formbut-box {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalog-filter-group {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.sorting-title {
  display: grid;
  place-content: center;
  margin: 0px 195px 0px 0px;
  max-width: 337px;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
}
.button-light {
  width: 48px;
  height: 48px;
}

/*catalog*/
.sorting {
  display: flex;
  justify-content: space-between;
  margin: 0px 72px 45px 71px;
  padding-top: 45px;
}
.sorting-type{
  display: grid;
  place-content: center;
}
.select-control {
  color:rgba(51, 51, 51, 1);
  line-height: 23px;
  font-size: 18px;
  width: 287px;
  height: 48px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  padding-left:19px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('../img/other/dropdown 1.svg');
  background-repeat: no-repeat;
  background-position: right 22px top 18px;
  }

.select-control:hover {
    border: 2px solid #83B3D3;
}
.select-control:focus {
    border: 2px solid #83B3D3;
}
.select-control:active {
    border: 2px solid rgba(229, 229, 229, 1);
    color:rgba(51, 51, 51, 1);
    opacity: 0.3;

}

.button-icon{
  display: grid;
  width:48px ;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  place-content: center;
}
.button-icon:hover {
outline: 2px solid #83B3D3;
border-radius: 4px;
border: none;

}
.button-icon:focus {
outline: 2px solid #83B3D3;
border-radius: 4px;
border: none;
}
.button-icon:active {
outline: 2px solid #000000;
border-radius: 4px;
border: none;
}


.button-list {
  justify-content: end;
  display: flex;
  gap: 8px;
}
.catalog-list {
  max-width: 1056px;
  margin: 0 auto 31px auto;
  grid-template-rows: repeat(4, 181px);
  display: grid;
  padding: 0px;
}
.catalog-list li:last-of-type {
  border-bottom: 1px solid #e6e6e6;
}
.catalog-list li:first-of-type {
  border-top: 1px solid #e6e6e6;
}

.catalog-item {

  border-top: 1px solid #e6e6e6;
  display: flex;
  padding-top: 31px;
}
.product-card-link {
  margin-right: 36px;
}
.rating-product {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  flex-direction: column;
}
.product-card-title {
  margin-top:-23px;
  margin-left: -16px;
  display: grid;
  padding:10px 16px 10px 15px;
  height: 51px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}
.product-card-title:hover{
color:rgba(117, 98, 87, 1);

}
.product-card-title:focus{
color:rgba(117, 98, 87, 1);
outline: 3px solid #83B3D3;
border-radius: 10px;
}
.product-card-title:active{
  color: rgba(131, 179, 211, 0.3);
  outline: none;
}
.product-card-price {
  margin: 1px auto 31px auto ;
  line-height: 23px;
}
.rating-form {
  font-weight: normal;
  color: #333333;
  background: #f2f2f2;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}
/*catalog button*/

.product-card-link{

  display: grid;
  width:180px ;
  height:120px ;
}
.product-card-link:hover{
opacity: 60%;

}
.product-card-link:focus{
outline: 3px solid #83B3D3;
}
.product-card-link:active{
opacity: 30%;
outline: 0px solid #83b3d300;
}
.form-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0px 72px 89px 72px;
  width: 1056px;
}
.pagination {
  padding: 0px;
  display: flex;
  gap: 8px;
}
.button-detailed {
  margin-right: 8px;
  background:rgba(117, 98, 87, 1);
  font-size: 16px;
  line-height: 21px;
}

.button-detailed:hover{
  background: rgba(97, 80, 72, 1);
  }
.button-detailed:focus{
  background: #615048;
  border: 3px solid #83B3D3;
}
.button-detailed:active{
  color:rgba(255, 255, 255, 0.3);
  border:none
}
.button-selected{
  background: #7DB54F !important;
}
.button-selected:hover{
  background: #6C9E42 !important;
  border:none;
}
.button-selected:focus{
  background: rgba(108, 158, 66, 1) !important;
  border:none;
}
.button-selected:active{
  background: rgba(108, 158, 66, 1) !important;
  border:none;
}
.button-favourites {
  border: none;
  background: #83b3d3;
  font-size: 16px;
  line-height: 21px;
}
.button-favourites:hover {
  border: 1px solid #756257;
}
.button-favourites:focus {
  background-color: rgba(104, 162, 202, 1);
  border: 3px solid #756257
}

.button-favourites:active{
  color: rgba(255, 255, 255, 0.3);
  border: 1px solid #756257;
}
.pagination-item {

  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #83b3d3;
  border-radius: 4px;
}
.pagination-link {
  border-radius: 4px;
  display: grid;
  width: 55px;
  height: 55px;
  place-content: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
}
.pagination-link:hover{
background: #68A2CA;
}
.pagination-link:focus{
  background: #68A2CA;
  border: 3px solid #756257;
}
.pagination-link:active{
  color:rgba(255, 255, 255, 0.3);
  border:none;
}
/*.pagination-link:visited{
  background-color: rgba(242, 242, 242, 1);
  color:rgba(0, 0, 0, 1);
  border:none;
}*/

/*catalod form*/

.load {
  padding: 0px;
  border-radius: 0px 10px 10px 0px;
  border: 0px;
  width: 200px;
  height: 60px;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
}
.load:hover {
  background: #68a2ca;
}
.load:focus {
  background: #68a2ca;
  border: 3px solid #756257;
}
.load:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}
.show {
  align-items: center;
  display: inline-flex;
  width: 386px;
  height: 52px;
  line-height: 23px;
}
.show-list {


  font-size: 18px;
  line-height: 23px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  margin-left: 51px;
  width: 160px;
  height: 52px;
  padding-left:17px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('../img/other/dropdown 1.svg');
  background-repeat: no-repeat;
  background-position: right 22px top 18px;
}
.show-list:hover{
  border: 2px solid #83B3D3;
}
.show-list:focus{
  border: 2px solid #83B3D3
}
.show-list:active{
color:rgba(51, 51, 51, 0.3)
}
.form-inner {

  width: 100%;
  margin: 0 auto;
  padding: 94px 0px 94px 0px;
  display: flex;
  flex-direction: column;

}
.form-title-inner {
  margin: 0px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.form-text-inner {
  margin: 27px auto 26px auto;
  width: 500px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.description-main {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
.text-main {
  font-size: 22px;
  line-height: 36px;
}
.advantages-title-white {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.advantages-describe-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.search-item {
  margin: 57px auto 0px 75px;
  display: flex;
  width: 575px;
  height: 60px;
  background-color: #756257;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  justify-content: center;
}
.search-item:hover {
  background: #615048;
}
.search-item:focus {
  background: #615048;
  border: 3px solid #83b3d3;
}
.search-item:active {
  color: rgba(255, 255, 255, 0.3);
  border: none;
}
.form-text {
  font-size: 22px;
  line-height: 26px;
}
/*Модальное окно*/

.modal-container {
  z-index: -1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  }
.modal {

  position: relative;
  margin: auto;
  padding: 62px 70px 70px 68px;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}
.modal-auth {
  width: 715px;
  height: 561px;
}
.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.modal-close-button:hover{
  background: #E6E6E6;
}
.modal-close-button:focus{
  background: #E6E6E6;
  border: 3px solid #83B3D3
}
.modal-close-button:active{
  background: #E6E6E6;
  border:none;
  opacity: 0.3;

}
.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
}
.modal-form{
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  border-radius: 4px;
}
.count-adults {
  display: flex;
  height: 50px;
  width: 155px;
}
.count-children {
  display: flex;
  height: 50px;
  width: 155px;
  padding-left: 57px;
}
.modal-info{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left:10px;
  width:25px;
  height:25px;
  background-color:#83B3D3;
  border-radius: 50% ;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
}
.modal-info:hover{
  background: #68A2CA;
}
.modal-info-text{
display: none;
position: absolute;
left:-5px;
top:52px;
width:256px ;
min-height:143px;
padding:15px 18px 18px 22px;
background: #333333;
box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
border-radius: 10px;
z-index:1;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color:#ffffff;
}
.modal-info-text::before{
  position: absolute;
  top: -8px;
  left: 118px;
  width: 19px;
  height: 9px;
  background-image: url("../img/other/triangle 1.svg");
  content: "";
}

.modal-field{
  background: #F2F2F2;
  border-radius: 4px;
  border:none;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}
.modal-field:hover{
  background: #E6E6E6;
}
.modal-field:focus{
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}
.modal-field:active{
border: 2px solid #000000;
outline: none;

}
.field-group{
margin: 0px 0px 11px 0px;
position: relative;
margin-bottom: 11px;
}
.field-group-buttton{
  position: absolute;
  top:16px;
  right: 17px;
  width: 15px;
  height: 15px;
  border: none;
  display: flex;
  padding: 0px;
  background-color: #00000000;
}

.auth-form-field{
  width: 420px;
  height: 50px;
  padding: 0px 19px 0px 19px;
}
.number{
  position: relative;
  max-width: 288px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.more-less{
  display: flex;
  justify-content: space-between;
  left: 224px;
  position: absolute;
  width:133px;
  height:50px;
  border:0px;
  padding:0px;
  align-items: center;
}
.button-more-less{
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  padding: 0px;
  border:0px;
  width: 25px;
  height: 25px;
  background-color: #00000000;
  opacity: 0.3;
}
.button-more-less:hover{
  opacity: 1;
}
.button-more-less:focus{
  opacity: 1;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}
.button-more-less:active{
  opacity: 0.2;
  outline: none;
}

.more{
  left: 253px;
  top: 14px;
}
.less{

  top: 14px;
  left: 164px;
}

.number-form-field{
  padding: 0px 55px;
  width: 133px;
  height: 50px;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0px;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.date{
  display: flex;
  justify-content: space-between;
  width: 575px;
  height: 50px;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.date-form-error{
display: flex;
font-weight: normal;
font-size: 16px;
line-height: 40px;
align-items: center;
color: #FF5757;
width: 420px;
height: 29px;
margin: 0px 0px 0px 156px;
}
.date-form-right{
display: flex;
font-weight: normal;
font-size: 16px;
line-height: 40px;
align-items: center;
color: #333333;;
width: 420px;
height: 29px;
margin: 0px 0px 11px 156px;
}
.number-form{
  display: flex;
  justify-content: space-between;
  margin-bottom:40px;
  }
.modal-button{
display: flex;
align-items: center;
justify-content: center;
padding:0px;
text-transform: uppercase;
width: 575px;
height: 60px;
background-color: rgba(131, 179, 211, 1);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border:none;
border-radius: 10px;
color:#ffffff;
font-weight: bold;
font-size: 20px;
line-height: 40px;
}
.modal-button:hover{
  background: #68A2CA;
}
.modal-button:focus{
  background: #68A2CA;
  border: 3px solid #756257;
}
.modal-button:active{
  background: #68A2CA;
  color:rgba(255, 255, 255, 0.3);
  border:none;
}



