@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2"),
    url("../fonts/ptsans-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2"),
    url("../fonts/ptsans-700.woff") format("woff");
  font-display: swap;
}
/*Общее*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

html {
  height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT sans";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  background-color: #757575;
  color: #000000;
}

.main {
  flex-grow: 1;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 37px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-family: inherit;
}
.cc {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-container {
  background-color: white;
  width: 1200px;
  margin: 0 auto;
  padding: 0px;
}
.link-list {
  text-decoration: none;
  list-style-type: none;
}
.link {
  text-decoration: none;
  list-style-type: none;
}
/*Общее конец*/

/*Шапка стили*/
.page-header {
  margin: 0px;
  padding: 0px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 72px;
}
.navigation-list {
  gap: 33px;
  align-items: center;
  display: flex;
  width: 412px;
  margin: 0px;
  padding: 0px;
}
.logo-pic {
  margin-bottom: -3.5px;
  width: 138px;
  align-content: center;
}
.navigation-user {
  justify-content: flex-end;
  gap: 0;
}
.navigation-link {
  padding: 5px;
  display: grid;
  place-items: center;
  position: relative;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}
.navigation-link:hover {
  color: #756257;
}
.navigation-link:focus {
  color: #756257;
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
}
.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
  border: none;
}
.navigation-link-current::before {
  position: absolute;
  right: 0px;
  bottom: -18px;
  left: 0px;
  height: 2px;
  width: 100%;
  background-color: #756257;
  content: "";
}

.icon-link {
  display: grid;
  height: 38px;
  width: 38px;
  place-items: center;
  color: #000000;
}
.icon {
  fill:currentColor;
}

.icon-link:hover {
  color: #756257;
}
.icon-link :focus {
  color: #756257;
  border: 3px solid #83b3d3;
  border-radius: 10px;

}
.icon-link:active {
  color: rgba(17, 98, 87, 0.3);
  box-sizing: border-box;
}

.link-header {
  background-color: #756257;
  font-size: 16px;
  line-height: 21px;
}
.link-header:hover {
  background: #615048;
}
.link-header:focus {
  background: #615048;
  border: 3px solid #83b3d3;
}
.link-header:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}
.navigation-item {
  text-align: center;
  max-width: 160px;
}
.button-link {
  margin-left: 33px;
}
.icon-item {
  margin-left: 21px;
}
/*Шапка стили конец!  не трогать!! */

/*Главная страница /главный блок*/
.form {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}
.advantages-pic {
  margin: 0px;
  padding: 0px;
}
.main {
  position: relative;
  background-color: #4b4b4b;
  background-image: url("../img/jpg/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main ::before {
  display: block;
  position: absolute;
  content: "";
  background-image: url("../img/other/vector.svg");
  bottom: 0px;
  width: 1200px;
  height: 57px;
}
.content-box {
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
}
.text-box-main {
  max-width: 720px;
  margin: 63px auto 79px;
}
.header-text {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}
.text-main {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

/*Главная страница/каталог*/
.advantage {
  margin: 0px;
}

.advantage-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.advantage-content {
  flex-direction: row-reverse;
  height: 385px;
  display: flex;
  background-color: #83b3d3;
}
.container-text {
  width: 400px;
  margin-left: 90px;
  margin-right: 90px;
  padding-top: 98px;
}

.discribe-advantage {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  background-color: #ffffff;
  padding-left: 0;
}
.describe-item{
  padding: 89px 75px 79px 75px;
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
 }
 .describe-list {
  display: flex;
  width: 400px;
  flex-direction: column;
  padding: 98px 75px 77px 75px;
 }
.rgb12 {
  background-color: rgba(131, 179, 211, 0.12);

}

.rgb120 {
  background-color: rgba(131, 179, 211, 0.2);

}

.catalog-text {
  height: 73px;
  width: 250px;
  margin:0px;
  max-width: 250px;
  text-align: center;

}

.pic-box {
  text-align: center;
  margin-bottom: 23px;
}
.text-box {
  padding-left: 75px;
  padding-right: 75px;
}

.box-text {
  width: 250px;
  margin-top: 98px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}


.advantages-box {
  width: 1200;
  display: flex;
  height: 384px;
}

.advantages-describe-list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.catalog-header {
  position: relative;
  max-width: 250px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin:0px;
  margin-bottom: 20px;
}
.avter-header{
  margin-bottom: 76px;
}

.catalog-title {
font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 400;
  margin: 0;
}
.catalog-text-white {
  text-align: center;
  color: #ffffff;
}
.catalog-title {
  position: relative;
  margin-bottom: 76px;
}
.catalog-title::after {
  position: absolute;
  width: 250px;
  height: 25px;
  left: -15px;
  top: 84px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  content: "-№1-";
}
.title-two::after {
  position: absolute;
  width: 250px;
  height: 25px;
  left: -15px;
  top: 84px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  content: "-№2-";
}
.title-three::after {
  position: absolute;
  width: 250px;
  height: 25px;
  left: -1px;
  top: 84px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  content: "-№3-";
}
.title-four::after {
  position: absolute;
  width: 250px;
  height: 25px;
  left: -1px;
  top: 84px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  content: "-№4-";
}
.title-five::after {
  position: absolute;
  width: 250px;
  height: 25px;
  left: -1px;
  top: 84px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  content: "-№5-";
}
.catalog-title-white {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}



/*Главная/блок с формой*/
.form-container {
  width: 800px;
  margin: 94px 200px;
}
.box-form {
  margin: 0 auto;
  text-align: center;
  align-content: center;
}
.form {
  width: 100%;
  margin: 0 auto;
  padding: 94px 0px 94px 0px;

  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  color: #ffffff;
  background-image: url("../img/jpg/backgroundform.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.search {
  background-color: white;
  align-content: center;
  padding: 91px;
  padding-right: 240px;
  padding-left: 240px;
}
.search-describe {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 720px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 0pt;
}
.form-title {
  padding: 94px 240px 15px 240px;
  width: 720px;
  margin: 0px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.form-text {
  margin: 0px 240px 26px 240px;
  width: 720px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.form-user {
  display: inline-flex;
  margin: 0px auto 0px auto;
  width: 800px;
}
.formbut {
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  font-family: inherit;
  border-radius: 4px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: 160px;
  height: 48px;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
}
.formbut-white {
  background-color: #949da300;
}

.control {
  margin-bottom: 13px;
}

.field {
  padding-left: 22px;
  padding-right: 20px;
  background: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  border: 0px;
  width: 559px;
  height: 60px;
  font-size: 18px;
  line-height: 26px;
}
.field:hover {
  background: #e6e6e6;
}
.field:focus {
  width: 559px;
  height: 60px;
  background: #e6e6e6;
  border: 3px solid #83b3d3;
  outline: none;
}
.field:active {
  background: #ffffff;
  outline: 2px solid #000000;
  border: none;
}
.button-form {
  background-color: #83b3d3;
  padding: 0px;
  border: 0px;
  margin: 0px;
  position: absolute;
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
}

.button-load {
  margin: 1px auto 30px auto;
  width: 625px;
  height: 55px;
  color: #ffffff;
  background-color: #83b3d3;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 4px;
}
/*footer main*/

.main-foot {
  background-color: white;
}

.foot-conteiner {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 72px;
  padding-right: 84px;
  padding-bottom: 48px;
  padding-top: 42px;
  justify-content: space-between;
}
.foot-list {
  display: flex;
  padding: 0px;
  gap: 29px;
  align-items: center;
  margin: 0px;
}

.tell {
  display: grid;
  place-items: center;
  width: 361px;
  height: 70px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.tell:hover {
  color: #756257;
}
.tell:focus {
  color: #756257;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}
.tell:active {
  color: rgba(117, 98, 87, 0.3);
  border: none;
}

.footer-logo {
  display: grid;
  place-items: center;
  width: 160px;
  height: 70px;
  padding: 10px;
  color: #000000;
}
.logo{
  fill: currentColor;
}
.footer-logo:hover {
  color: #756257;
}

.footer-logo:focus {
  color: #756257;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}
.footer-logo:active {
  color: rgba(117, 98, 87, 0.3);
}

.link-footer-icon {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  color: #83B3D3;
}
.footer-icon {
  fill: currentColor;
}
.link-footer-icon:hover {
  color: #68a2ca;
}

.link-footer-icon:focus {
  color: #68a2ca;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}
.link-footer-icon:active {
  color: rgba(104, 162, 202, 0.3);
  border: none;
}

/*Страница каталога*/

/*Каталог/форма/шапка*/
.inner-header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  width: 628px;
  padding-top: 30px;
  margin: 0px 0px 45px 71px;
}
.catalog-filter {
  padding: 0px 72px 82px 76px;
  gap: 67px;
  grid-template-columns: auto 1fr 350px 160px;
  display: grid;
  margin-top: 45px;
}
.inner-header-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  margin: 0px;
}
.breadcrumbs {
  width: 146px;
  margin: 0px;
  display: flex;
  list-style-type: none;
  padding: 0px;
}
.breadcrumbs-item {
  margin: 0px;
  margin-right: 10px;
}

.catalog-products {
  text-align: left;
  color: #ffffff;
  background-color: #858585;
  background-image: url("../img/jpg/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}
.filter-title {
  margin-bottom: 34px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.control-label {
  line-height: 23px;
}

/*саtalog header*/
.filter-group {
  margin: 0px;
  border: 0px;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.catalog-filter-input {
  width: 143px;
  padding: 0px;
  height: 48px;
  border: 0px;
}
.formbut-box {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.catalog-filter-group {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.sorting-title {
  margin: 0px 195px 0px 0px;
  max-width: 337px;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
}
.button-light {
  width: 48px;
  height: 48px;
}

/*catalog*/
.sorting {
  display: flex;
  justify-content: space-between;
  margin: 0px 72px 45px 71px;
  padding-top: 45px;
}
.select-control {
  line-height: 23px;
  font-size: 18px;
  width: 248px;
  height: 48px;
}

.button-list {
  justify-content: end;
  display: flex;
  gap: 8px;
}
.catalog-list {
  max-width: 1056px;
  margin: 0 auto 31px auto;
  grid-template-rows: repeat(4, 181px);
  display: grid;
  padding: 0px;
}
.catalog-list li:last-of-type {
  border-bottom: 1px solid #e6e6e6;
}
.catalog-list li:first-of-type {
  border-top: 1px solid #e6e6e6;
}

.catalog-item {
  border-top: 1px solid #e6e6e6;
  display: flex;
  padding-top: 31px;
}
.product-card-link {
  margin-right: 36px;
}
.rating-product {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  flex-direction: column;
}
.product-card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}
.product-card-price {
  line-height: 23px;
}
.rating-form {
  font-weight: normal;
  color: #333333;
  background: #f2f2f2;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}
/*catalog button*/

.form-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0px 72px 89px 72px;
  width: 1056px;
}
.pagination {
  padding: 0px;
  display: flex;
  gap: 8px;
}
.button-detailed {
  margin-right: 8px;
  background: #756257;
  font-size: 16px;
  line-height: 21px;
}
.button-favourites {
  background: #83b3d3;
  font-size: 16px;
  line-height: 21px;
}

.pagination-item {
  width: 55px;
  height: 55px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #83b3d3;
  border-radius: 4px;
}
.pagination-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
}

/*catalod form*/

.load {
  padding: 0px;
  border-radius: 0px 10px 10px 0px;
  border: 0px;
  width: 200px;
  height: 60px;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
}
.load:hover {
  background: #68a2ca;
}
.load:focus {
  background: #68a2ca;
  border: 3px solid #756257;
}
.load:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}
.show {
  align-items: center;
  display: inline-flex;
  width: 386px;
  height: 52px;
  line-height: 23px;
}
.show-list {
  margin-left: 51px;
  width: 160px;
  height: 52px;
}
.form-inner {
  width: 800px;
  margin: 30px auto 137px auto;
}
.form-title-inner {
  margin: 0px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.form-text-inner {
  margin: 15px auto 26px auto;
  width: 500px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.description-main {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
.text-main {
  font-size: 22px;
  line-height: 36px;
}
.advantages-title-white {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.advantages-describe-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.search-item {
  margin: 73px auto 91px auto;
  display: flex;
  width: 575px;
  height: 60px;
  background-color: #756257;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  justify-content: center;
}
.search-item:hover {
  background: #615048;
}
.search-item:focus {
  background: #615048;
  border: 3px solid #83b3d3;
}
.search-item:active {
  color: rgba(255, 255, 255, 0.3);
  border: none;
}
.form-text {
  font-size: 22px;
  line-height: 26px;
}
