@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2"),
    url("../fonts/ptsans-400.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2"),
    url("../fonts/ptsans-400.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2"),
    url("../fonts/ptsans-700.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2"),
    url("../fonts/ptsans-400.woff") format("woff");
  font-display: swap;
}

body {
  font-family: "PT sans";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 23px;
  background-color: #ffffff;
  color: #000000;
}

/*Pages*/

.navigation-link {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.main {
  background-color: #e5e5e5;
  color: #000000;
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.form {
  background-color: #e5e5e5;
  color: #ffffff;
  background-image: url("../img/backgroundform.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.catalog-products {
  background-color: #e5e5e5;
  color: #ffffff;
  background-image: url("../img/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.advantages-item-white {
  background-color: #83b3d3;
  color: #ffffff;
}
.advantages-describe-list {
  background-color: #ffffff;
}
.advantages-describe-item-rgb12 {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-describe-item-rgb120 {
  background-color: rgba(131, 179, 211, 0.2);
}

.navigation-link-header {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
.navigation-link-header {
  background-color: #756257;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
}
.description-main {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
.text-main {
  font-size: 22px;
  line-height: 36px;
}
.advantages-title-white {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.advantages-describe-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.search-item {
  background-color: #756257;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
}
.form-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
.form-text {
  font-size: 22px;
  line-height: 26px;
}
.button-form {
  background-color: #83b3d3;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
}
.tell {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.inner-header-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}
catalog-filter {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}
.infrastructure-filter-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}
.housing-filter-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}
.catalog-filter-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}
.sorting-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}
.product-card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}
.card-button-detailed {
  color: #ffffff;
  background: #756257;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.card-button-favourites {
  color: #ffffff;
  background: #83b3d3;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.card-button-infavourites {
  color: #ffffff;
  background: #7db54f;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.rating-form {
  color: #333333;
  background: #f2f2f2;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}
.form-title-inner {
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
.form-text-inner {
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
}
